VITE_API_URL=http://localhost:5000/api
VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id.apps.googleusercontent.com
VITE_RAZORPAY_KEY_ID= rzp_test_ThaiAfoHLf6pjO
Test_Api_Secret = mWpS5byc0z7w9wWndIrBm3vZ
